<div class="col-md-12 col-lg-12 col-sm-12">
  <table id="offers_table" class="display nowrap admin_dashboard_table" style="width: 100%">
    <thead>
    <tr>
      <th>Created At</th>
      <th>Customer Name</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @offers.each do |o| %>
      <tr>
        <td><%= o.created_at.strftime('%b %e %Y, %l:%M %p') %></td>
        <td ><%= o.customer.full_name %></td>
        <td ><%= o.status_html.html_safe %></td>
        <td ><%= link_to 'Show', admins_offer_path(id: o.id) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<script>
    $(document).ready(function(){
        $('#offers_table').DataTable({destroy: true,responsive: true});
    });
</script>