<div class="modal fade" id="get_started_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered bms_modal_style" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">Welcome to Business Merchant Services</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="registrations_order_box" style="padding: 0;margin: 0;">
          <p class="text-justify text-dark">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You are making a smart choice for your business. By partnering with us, you are enabling our highly specialized team to audit and negotiate with your merchant processor and saving your business money.</p>
          <br/>
          <p class="text-justify text-dark">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please complete all of the following information. We collect this information to enable our team to negotiate and audit your statements effectively.</p>
          <br/>
          <p class="text-center text-dark">If you have any questions or concerns you can email: info@info.com</p>
          <br/>
          <div class="text-center">
            <a href="<%= step1_wizard_path %>" class="bms_submit_button">Get Started!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>