<!--==  Slider Area Start (Home2) ==-->
<section id="slider-area">
  <!-- Single Slide Start -->
  <div class="single-slide-wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="hero-text">
            <h2>Upload your most recent <br><span>Merchant</span> statement</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do so w eiusmod to a tempor incididunt ut labore et dolore magna alitempor incididunt ut labore et dolore magna ali.</p>
            <a href="#" class="seo-btn">Upload <i class="fa fa-upload"></i> </a>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="display-table">
            <div class="display-table-cell">
              <div class="hero-iamge">
                <%= image_tag "/slider/slider-img-1.png", alt: 'Cover' %>"
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Single Slide End -->

  <!-- Single Slide Start -->
  <div class="single-slide-wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="hero-text">
            <h2>Don't pay a penny until you <br><span>Save</span> money</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do so w eiusmod to a tempor incididunt ut labore et dolore magna alitempor incididunt ut labore et dolore magna ali.</p>
            <a href="about.html" class="seo-btn">Learn More</a>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="display-table">
            <div class="display-table-cell">
              <div class="hero-iamge">
                <%= image_tag '/images/slider/slider-img-2.png', alt: 'Cover' %>"
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Single Slide End -->

  <!-- Single Slide Start -->
  <div class="single-slide-wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="hero-text">
            <h2>We save our customers an average of over <br><span>$250,000</span> annually</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do so w eiusmod to a tempor incididunt ut labore et dolore magna alitempor incididunt ut labore et dolore magna ali.</p>
            <a href="about.html" class="seo-btn">Loren More</a>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="display-table">
            <div class="display-table-cell">
              <div class="hero-iamge">
                <%= image_tag '/images/slider/slider-img-3.png', alt: 'Cover' %>"
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Single Slide End -->
</section>
<!--== Slider Area End ==-->

<!--== About Area Start ==-->
<section id="about-area" class="section-padding">
  <div class="container">
    <div class="row">
      <!-- Section Title Start -->
      <div class="col-lg-6 m-auto text-center">
        <div class="section-title">
          <h2><span>Who</span> We Are</h2>
          <p>Lorem ipsum dolor sited amet, consectetur adipisicing elit, sede do eiusmod tempored incididunt uted is a vaey nice theme labore.</p>
        </div>
      </div>
      <!-- Section Title End -->
    </div>

    <div class="row">
      <div class="col-lg-5 d-md-none d-lg-block">
        <div class="about-profile-img">
          <%= image_tag '/images/about-image.png', alt: 'Profile' %>"
        </div>
      </div>

      <div class="col-lg-6 ml-auto">
        <div class="display-table">
          <div class="display-table-cell">
            <div class="about-text">
              <h2>Our Company Information</h2>
              <p>Lorem ipsum dolor sited amet, consectetur adipisicing elitrddr, sed do eiusmod tempod.Lorem ipsum dolor sit amet, consectetur to a the adipisicing elitrdrs ra, sed do eiusmod tempor incididunt.</p>

              <p>Lorem ipsum disabled party nostrud.abore etited dolore magna tit aliqua. Ut enim ad minim veniam, quis nostrud to enim ad minim veniam, quis nostrud.</p>

              <p>Lorem ipsum dolor sited ameted, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--== FunFact Area Start (Home2) ==-->
<section id="funfact-area" class="home__2 overlay">
  <div class="container">
    <div class="row">
      <!-- Single FunFact Start -->
      <div class="col-lg-3 col-sm-6 text-center">
        <div class="single-funfact">
          <i class="fa fa-handshake-o fun-icon"></i>
          <h5><span class="countup">698</span>+</h5>
          <p>Project Done</p>
        </div>
      </div>
      <!-- Single FunFact End -->

      <!-- Single FunFact Start -->
      <div class="col-lg-3 col-sm-6 text-center">
        <div class="single-funfact">
          <i class="fa fa-smile-o fun-icon"></i>
          <h5><span class="countup">199</span>+</h5>
          <p>Happy Clients</p>
        </div>
      </div>
      <!-- Single FunFact End -->

      <!-- Single FunFact Start -->
      <div class="col-lg-3 col-sm-6 text-center">
        <div class="single-funfact">
          <i class="fa fa-trophy fun-icon"></i>
          <h5><span class="countup">99</span>+</h5>
          <p>Award Wins</p>
        </div>
      </div>
      <!-- Single FunFact End -->

      <!-- Single FunFact Start -->
      <div class="col-lg-3 col-sm-6 text-center">
        <div class="single-funfact">
          <i class="fa fa-coffee fun-icon"></i>
          <h5><span class="countup">1499</span>+</h5>
          <p>Cup Of Coffee</p>
        </div>
      </div>
      <!-- Single FunFact End -->
    </div>
  </div>
</section>
<!--== FunFact Area End ==-->

<!--== Service Area Start (Home2) ==-->
<section id="service-area" class="home__2 section-padding">
  <div class="container">
    <div class="row">
      <!-- Section Title Start -->
      <div class="col-lg-6 m-auto text-center">
        <div class="section-title">
          <h2><span>Our</span> Services</h2>
          <p>Lorem ipsum dolor sited amet, consectetur adipisicing elit, sede do eiusmod tempored incididunt uted is a vaey nice theme labore.</p>
        </div>
      </div>
      <!-- Section Title End -->
    </div>

    <div class="row">
      <!-- Single Service Start -->
      <div class="col-lg-4 col-sm-6">
        <div class="single-service">
          <div class="service-icon">
            <i class="fa fa-globe"></i>
          </div>
          <h4>Own Business</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
          <a href="single-service.html" class="load-more">Read more <i class="fa fa-angle-right"></i></a>
        </div>
      </div>
      <!-- Single Service End -->

      <!-- Single Service Start -->
      <div class="col-lg-4 col-sm-6">
        <div class="single-service">
          <div class="service-icon">
            <i class="fa fa-cubes"></i>
          </div>
          <h4>Marketing Plan</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
          <a href="single-service.html" class="load-more">Read more <i class="fa fa-angle-right"></i></a>
        </div>
      </div>
      <!-- Single Service End -->

      <!-- Single Service Start -->
      <div class="col-lg-4 col-sm-6">
        <div class="single-service">
          <div class="service-icon">
            <i class="fa fa-area-chart"></i>
          </div>
          <h4>Business Growth</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
          <a href="single-service.html" class="load-more">Read more <i class="fa fa-angle-right"></i></a>
        </div>
      </div>
      <!-- Single Service End -->

      <!-- Single Service Start -->
      <div class="col-lg-4 col-sm-6">
        <div class="single-service">
          <div class="service-icon">
            <i class="fa fa-bar-chart-o"></i>
          </div>
          <h4>Digital Marketing</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
          <a href="single-service.html" class="load-more">Read more <i class="fa fa-angle-right"></i></a>
        </div>
      </div>
      <!-- Single Service End -->

      <!-- Single Service Start -->
      <div class="col-lg-4 col-sm-6">
        <div class="single-service">
          <div class="service-icon">
            <i class="fa fa-link"></i>
          </div>
          <h4>Link Building</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
          <a href="single-service.html" class="load-more">Read more <i class="fa fa-angle-right"></i></a>
        </div>
      </div>
      <!-- Single Service End -->

      <!-- Single Service Start -->
      <div class="col-lg-4 col-sm-6">
        <div class="single-service">
          <div class="service-icon">
            <i class="fa fa-pie-chart"></i>
          </div>
          <h4>Web Analysis</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
          <a href="single-service.html" class="load-more">Read more <i class="fa fa-angle-right"></i></a>
        </div>
      </div>
      <!-- Single Service End -->
    </div>
  </div>
</section>
<!--== Service Area End ==-->



<!--== Newsletter Area Start (Home2) ==-->
<section class="newsletter-area home__2 overlay section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="newsletter-content">
          <h3>Join Our Mailing List</h3>
          <h2>For Get Free SEO Tips</h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="newsletter-form">
          <form>
            <input type="text" placeholder="Enter Your Email Address">
            <button class="seo-btn">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--== Newsletter Area End ==-->