<!--==  Slider Area Start (Home2) ==-->
<section id="slider-area">
  <!-- Single Slide Start -->
  <div class="single-slide-wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="hero-text">
            <h2>Navigating <br><span>Merchant</span> processing fees is complex and unregulated</h2>
            <p>Our industry experts analyze your merchant statements to uncover inflated rates, hidden fees and most commonly coding errors.</p>
            <button type="button" data-toggle="modal" data-target="#create_order_modal" class="seo-btn">Upload your most recent Merchant Statement <i class="fa fa-upload"></i> </button>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="display-table">
            <div class="display-table-cell">
              <div class="hero-iamge">
                <%= image_tag 'https://res.cloudinary.com/dflr0ohqs/image/upload/w_775,h_400/v1527018215/assets/slider/slider-img-1.jpg', alt: 'Cover' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Single Slide End -->

  <!-- Single Slide Start -->
  <div class="single-slide-wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="hero-text">
            <h2>Don't pay a penny until you <br><span>save</span> money</h2>
            <p>We believe in a win-win scenario, you'll never incur a single fee until we can save you at least $1,000 per month.</p>
            <a href="#about-area" class="seo-btn">Learn More</a>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="display-table">
            <div class="display-table-cell">
              <div class="hero-iamge">
                <%= image_tag 'https://res.cloudinary.com/dflr0ohqs/image/upload/w_775,h_400/v1527019252/assets/slider/slider-img-2.jpg', alt: 'Cover' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Single Slide End -->

  <!-- Single Slide Start -->
  <div class="single-slide-wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="hero-text">
            <h2>We save our customers an average of over <br><span>$250,000</span> annually</h2>
            <p>Upload your latest merchant statement to start our expertly created industry leading process today.</p>
            <a href="about.html" class="seo-btn">Get Started <i class="fa fa-upload"></i></a>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="display-table">
            <div class="display-table-cell">
              <div class="hero-iamge">
                <%= image_tag 'https://res.cloudinary.com/dflr0ohqs/image/upload/w_775,h_400/v1527019500/assets/slider/slider-img-3.jpg', alt: 'Cover' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Single Slide End -->
</section>
<!--== Slider Area End ==-->

<!--== About Area Start ==-->
<section id="about-area" class="section-padding">
  <div class="container">
    <div class="row">
      <!-- Section Title Start -->
      <div class="col-lg-6 m-auto text-center">
        <div class="section-title">
          <h2><span>Who</span> We Are</h2>
          <p>A team of visionaries, enabled by technology and industry experience. Our highly specialzed team is capable of lowering business merchant processing fees as a whole, enabling businesses to meaninglyfully impact their bottomlines.</p>
        </div>
      </div>
      <!-- Section Title End -->
    </div>

    <div class="row">
      <div class="col-lg-5 d-md-none d-lg-block">
        <div class="about-profile-img">
          <iframe width="100%" height="300px" src="https://www.youtube.com/embed/XQu8TTBmGhA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>

      <div class="col-lg-6 ml-auto">
        <div class="display-table">
          <div class="display-table-cell">
            <div class="about-text">
              <h2>Our Company Information</h2>
              <p>Business merchant services provides businesses with a comprehensive alternative to switching credit card procesrors to lower their processing rates.</p>

              <p>Through our proprietary process we identify common coding issues costing your business real money every year. </p>

              <p>This highly unregulated industry has far and few transparent offerings to counter the fees and rates merchant processors charge. <a href="#service-area">Learn more about our process</a> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--== FunFact Area Start (Home2) ==-->
<section id="funfact-area" class="home__2 overlay">
  <div class="container">
    <div class="row">
      <!-- Single FunFact Start -->
      <div class="col-lg-3 col-sm-6 text-center">
        <div class="single-funfact">
          <i class="fa fa-handshake-o fun-icon"></i>
          <h5><span class="countup">10000</span>+</h5>
          <p>Analyzed Merchant Statements</p>
        </div>
      </div>
      <!-- Single FunFact End -->

      <!-- Single FunFact Start -->
      <div class="col-lg-3 col-sm-6 text-center">
        <div class="single-funfact">
          <i class="fa fa-smile-o fun-icon"></i>
          <h5><span class="countup">100</span>+</h5>
          <p>Happy Clients</p>
        </div>
      </div>
      <!-- Single FunFact End -->

      <!-- Single FunFact Start -->
      <div class="col-lg-3 col-sm-6 text-center">
        <div class="single-funfact">
          <i class="fa fa-trophy fun-icon"></i>
          <h5><span class="countup">40</span>+</h5>
          <p>Years of Industry Experience</p>
        </div>
      </div>
      <!-- Single FunFact End -->

      <!-- Single FunFact Start -->
      <div class="col-lg-3 col-sm-6 text-center">
        <div class="single-funfact">
          <i class="fa fa-money fun-icon"></i>
          <h5><span class="countup">50000000</span>+</h5>
          <p>Saved in Fees, Lowered Rates & Coding errors</p>
        </div>
      </div>
      <!-- Single FunFact End -->
    </div>
  </div>
</section>
<!--== FunFact Area End ==-->

<!--== Service Area Start (Home2) ==-->
<section id="service-area" class="home__2 section-padding">
  <div class="container">
    <div class="row">
      <!-- Section Title Start -->
      <div class="col-lg-6 m-auto text-center">
        <div class="section-title">
          <h2><span>Our</span> Process</h2>
          <p>Established by payment processing veterans, our proprietary process enables transparency and efficiency.</p>
        </div>
      </div>
      <!-- Section Title End -->
    </div>

    <div class="row">
      <!-- Single Service Start -->
      <div class="col-lg-4 col-sm-6">
        <div class="single-service">
          <div class="service-icon">
            <i class="fa fa-plus"></i>
          </div>
          <h4>Create an Order</h4>
          <p>Upload your merchant statement, fill out some business details and provide a payment method.</p>
          <a data-toggle="modal" data-target="#create_order_modal" class="load-more">Get Started Now <i class="fa fa-upload"></i></a>
        </div>
      </div>
      <!-- Single Service End -->

      <!-- Single Service Start -->
      <div class="col-lg-4 col-sm-6">
        <div class="single-service">
          <div class="service-icon">
            <i class="fa fa-credit-card"></i>
          </div>
          <h4>No Payment Until We save you money</h4>
          <p>Remember you won't pay us until we save you at least $1,000 of monthly fees.</p>

        </div>
      </div>
      <!-- Single Service End -->

      <!-- Single Service Start -->
      <div class="col-lg-4 col-sm-6">
        <div class="single-service">
          <div class="service-icon">
            <i class="fa fa-search"></i>
          </div>
          <h4>We analyze your Merchant Statments</h4>
          <p>By identifying inflated rates and coding errors we are able to identify potential savings.</p>

        </div>
      </div>
      <!-- Single Service End -->

      <!-- Single Service Start -->
      <div class="col-lg-4 col-sm-6">
        <div class="single-service">
          <div class="service-icon">
            <i class="fa fa-hands-helping"></i>
          </div>
          <h4>We negotiate with your merchant processor</h4>
          <p>On your behalf, we re-negotiate your processing rate as well as any unnecessary fees you may be incurring.</p>

        </div>
      </div>
      <!-- Single Service End -->

      <!-- Single Service Start -->
      <div class="col-lg-4 col-sm-6">
        <div class="single-service">
          <div class="service-icon">
            <i class="fa fa-link"></i>
          </div>
          <h4>Digital offer notifications sent to you</h4>
          <p>We send you email notifications and update your online account so that you can see the offer we have extended to you. Savings are but a click away.</p>

        </div>
      </div>
      <!-- Single Service End -->

      <!-- Single Service Start -->
      <div class="col-lg-4 col-sm-6">
        <div class="single-service">
          <div class="service-icon">
            <i class="fa fa-pie-chart"></i>
          </div>
          <h4>Ongoing Monitoring and Analysis</h4>
          <p>We will monitor your monthly statements and maximize your savings for a fixed period of time.</p>
          <a href="single-service.html" class="load-more">Start saving now <i class="fa fa-upload"></i></a>
        </div>
      </div>
      <!-- Single Service End -->
    </div>
  </div>
</section>
<!--== Service Area End ==-->



<!--== Newsletter Area Start (Home2) ==-->
<section class="newsletter-area home__2 overlay section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="newsletter-content">
          <h3>Save someone money! Share our site and if your referral saves</h3>
          <h2> more than $1,000 a month you get $500.</h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="newsletter-form">
          <form>
            <input type="text" placeholder="Enter an Email Address">
            <button class="seo-btn">Share</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--== Newsletter Area End ==-->

<%= render partial: 'order_creation_modal' %>
