<div class="col-md-12 col-lg-12 col-sm-12">
  <table id="orders_table" class="display nowrap admin_dashboard_table" style="width: 100%">
    <thead>
    <tr>
      <th>Created At</th>
      <th class="th-ezr">Status</th>
      <th class="th-ezr">Reviewed</th>
      <th class="th-ezr">Action</th>
    </tr>
    </thead>
    <tbody>
    <% @orders.each do |o| %>
      <tr>
        <td><%= o.created_at.strftime('%b %e %Y, %l:%M %p') %></td>
        <td class="td-ezr"><%= o.status_html.html_safe %></td>
        <td class="td-ezr"><%= o.reviewed %></td>
        <td class="td-ezr"><%= link_to 'Show', customers_order_path(id: o.id) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function(){
      $('#orders_table').DataTable({responsive: true});
  });
</script>