<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-4 col-sm-12 col-xs-12">
        <div class="card">
          <img class="card-img-top" src="https://res.cloudinary.com/dflr0ohqs/image/upload/c_thumb,e_auto_color,h_180,w_286,y_1706/v1527022381/assets/default.jpg" alt="Card image cap">
          <!-- Lets have the image be the upload icon and once they make it to their dashboard this is the first time they are able to add profile picture.  -->
          <div class="card-body">
            <h5 class="card-title"><%= current_user.full_name %></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Contact BMS</a>
          </div>
        </div>
        <br/>
      </div>
      <div class="col-md-12 col-lg-8 col-sm-12  col-xs-12">
        <div class="row">
          <div class="col-lg-4 col-sm-12 col-xs-12">
            <div class="list-group" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action active" id="list-order-list" data-table_name="orders" data-toggle="list" href="#list-order" role="tab" aria-controls="order">Order</a>
              <a class="list-group-item list-group-item-action" data-table_name="offers" id="list-offer-list" data-toggle="list" href="#list-offer" role="tab" aria-controls="offer">Offer</a>
              <a class="list-group-item list-group-item-action" id="list-activity-list" data-toggle="list" href="#list-activity" role="tab" aria-controls="activity">Activity (Coming Soon)</a>
              <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
            </div>
            <br/>
            <!--<a href="<%#= new_customers_order_path %>" class="col-md-12 col-lg-12 col-sm-12 seo-btn hvr-curl-bottom-right">Create Order</a>-->
          </div>
          <div class="col-lg-8 col-sm-12 col-xs-12">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="list-order" role="tabpanel" aria-labelledby="list-order-list">
                <%= render partial: 'orders_table' %>
              </div>
              <div class="tab-pane fade" id="list-offer" role="tabpanel" aria-labelledby="list-offer-list">
                <%= render partial: 'offers_table' %>
              </div>
              <div class="tab-pane fade" id="list-activity" role="tabpanel" aria-labelledby="list-activity-list">Forum style message board between admin and customer</div>
              <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                <%= render partial: 'customers/settings/main' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>