#wizard {
  background-image: url(https://s3.amazonaws.com/bm-services-prod/assets/images/sliderbg.png);
  z-index: 1;
  position: relative;
}

.blue_overlay {
  background-color: rgba(0, 47,181, 0.1);
}

.registrations_order_box {
  padding: 20px;
  max-width: 700px;
  background-image: url(https://s3.amazonaws.com/bm-services-prod/assets/images/sliderbg.png);
  border-radius: 6px;
  margin: 50px auto 50px auto;
  h1 {
    color: #002fb5;
    padding: 20px;
    margin-bottom: 20px;
  }

  ol {
    padding-top: 10px;
  }

  form {
    padding: 20px;
    border-radius: 4px;

    input {
      width: 100%;
      margin-top: 0;
      margin-bottom: 20px;
      font-size: 15px;
      font-weight: 500;
      padding: 10px;
      border-radius: 4px;
      border: none;
      box-shadow: 0px 0px 8px -3px;
      transition: all 300ms;
    }

    input.error {
      box-shadow: 0px 0px 8px -3px #b10000;
      transition: all 300ms;
    }

    input[type=submit] {
      border: 2px solid #fff;
      box-shadow: 0px 0px 8px -3px;
      transition: all 300ms;
    }

    input[type=submit]:hover {
      color: #002fb5;
      box-shadow: 0px 0px 8px -3px #002fb5;
      cursor: pointer;
      transition: all 300ms;
    }

    input[type=checkbox] {
      width: auto;
    }

    select {
      width: 100%;
      height: 40px;
      background: #fff;
      margin-top: 0;
      margin-bottom: 20px;
      font-size: 15px;
      font-weight: 500;
      padding: 10px;
      border-radius: 4px;
      border: none;
      box-shadow: 0px 0px 8px -3px;
      transition: all 300ms;
    }

    select:hover {
      color: #002fb5;
      box-shadow: 0px 0px 8px -3px #002fb5;
      cursor: pointer;
      transition: all 300ms;
    }

    input:focus {
      box-shadow: 0px 0px 8px -3px #002fb5;
    }
    input:active {
      box-shadow: 0px 0px 8px -3px #002fb5;
    }

    input[type=radio] {
      width: 10%;
      box-shadow: none;
    }

    label {
      color: #002fb5;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 10px;
      margin-bottom: 0;
    }

    label.error {
      color: #b10000;
    }
  }
}

.register_order_fields_with_steps_box {

}

track-progress {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.track-progress li {
  list-style-type: none;
  display: inline-block;

  position: relative;
  margin: 0;
  padding: 0;

  text-align: center;
  line-height: 30px;
  height: 30px;

  background-color: #f0f0f0;
}

.track-progress li > span {
  display: block;

  color: #999;
  font-weight: bold;
  text-transform: uppercase;
}

.track-progress li.done > span {
  color: #666;
  background-color: #ccc;
}

.track-progress li > span:after,
.track-progress li > span:before {
  content: "";
  display: block;
  width: 0px;
  height: 0px;

  position: absolute;
  top: 0;
  left: 0;

  border: solid transparent;
  border-left-color: #f0f0f0;
  border-width: 15px;
}

.track-progress li > span:after {
  top: -5px;
  z-index: 1;
  border-left-color: white;
  border-width: 20px;
}

.track-progress li > span:before {
  z-index: 2;
}

.track-progress li.done + li > span:before {
  border-left-color: #ccc;
}

.track-progress li:first-child > span:after,
.track-progress li:first-child > span:before {
  display: none;
}

.track-progress li:first-child i,
.track-progress li:last-child i {
  display: block;
  height: 0;
  width: 0;

  position: absolute;
  top: 0;
  left: 0;

  border: solid transparent;
  border-left-color: white;
  border-width: 15px;
}

.track-progress li:last-child i {
  left: auto;
  right: -15px;

  border-left-color: transparent;
  border-top-color: white;
  border-bottom-color: white;
}

.track-progress[data-steps="5"] li { width: 20%; }

.drop {
  border: 3px dashed #DADFE3;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  background: white;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  position: relative;
  /*&:hover
   * cursor: pointer
   * background: #f5f5f5 */
}
.drop .cont {
  width: 100%;
  color: #8E99A5;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  height: 240px;
}
.drop .cont i {
  font-size: 400%;
  color: #8E99A5;
  position: relative;
}
.drop .cont .tit {
  font-size: 400%;
  text-transform: uppercase;
}
.drop .cont .desc {
  color: #A4AEBB;
}
.drop .cont .browse {
  margin: 10px 25%;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  background: #09f;
}
.drop input {
  width: 100% !important;
  height: 100% !important;
  margin-bottom: 0 !important;
  cursor: pointer !important;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#list {
  width: 100%;
  text-align: left;
  margin-bottom: 40px;
  border: 2px solid #fff;
  border-radius: 6px;
  margin-top: 10px;
  padding: 10px;
  box-shadow: 0px 0px 8px -1px;
  background: #eee;

  span {
    display: inline-block;
    width: 100%;
  }
}
#list .thumb {
  height: 75px;
  border: 1px solid #323a44;
  margin: 10px 5px 0 0;
}

.payment_method_tabs {
  a {
    color: #002fb5;
  }

  a:hover {
    color: #002fb5;
  }

  li {
    width: 33%;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 3px solid;
  }

  li.active {
    border-bottom: 3px solid #002fb5;

    a {
      color: #002fb5;
    }

    a:hover {
      color: #002fb5;
    }
  }
}

#user_wizard_payment_method_card_number.valid {
  box-shadow: 0px 0px 8px -2px #3dc23a;
}

.agreement_policy {
  height: 200px;
  overflow-x: auto;
  border: 2px solid;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 8px -1px;
}