<% if controller_name == 'orders' && action_name == 'show' %>
  <a href="<%= new_admins_offer_path(order_id: @order.id) %>" class="seo-btn hvr-curl-bottom-right">Create Offer</a>
<% else %>
  <a href="<%= admins_path %>" class="seo-btn hvr-curl-bottom-right">Dashboard</a>
<% end %>