<% flash.each do |name, msg| %>
<% if msg.is_a?(String) %>
$('#flash_errors_container').html('<div class="alert alert-dismissible alert-<%= name.to_s == "notice" ? "success" : "danger" %>">' +
    '        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' +
    '      <%= content_tag :div, msg, :id => "flash_#{name}" %>' +
    '    </div>');
<% end %>
<% end %>

$('html,body').animate({
    scrollTop: 0
}, 200);

<% if @status == 200 %>
$('#order_status').html('<label class="offer_label_status_rejected">rejected</label>');
$('.order_actions_buttons').html('<div class="col-md-12 col-lg-12 col-sm-12 text-center">' +
    '                  <button type="button" data-toggle="modal" data-target="#create_offer_modal" class="bms_submit_button">Create Offer</buttonn' +
    '                </div>');
$('#order_modals_container').html('<%= escape_javascript(render partial: 'create_offer_modal') %>');
<% end %>