<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--=== Favicon ===-->
  <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />

  <title>Business Merchant Services</title>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'admins', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'admins', 'data-turbolinks-track': 'reload' %>

  <!--[if lt IE 9]>
  <script src="assets///oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="assets///oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body class="preloader-active">

<!--== Preloader Area Start (Home2) ==-->
<div class="preloader">
  <div class="preloader-spinner">
    <div class="waves-block">
      <div class="waves wave-1"></div>
      <div class="waves wave-2"></div>
      <div class="waves wave-3"></div>
    </div>
  </div>
</div>
<!--== Preloader Area End ==-->

<!--== Header Area Start ==-->
<header id="header-area">
  <!-- PreHeader Area Start -->
  <div class="preheader-area home__2">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="preheader-item log-reg">
            <a href="register.html">Get Started!</a>
            <a href="login.html">Login</a>
          </div>
        </div>

        <div class="col-lg-6 text-center d-none d-lg-block">

        </div>

        <div class="col-lg-3 col-sm-6 text-right">
          <div class="preheader-item phone-mail">
            <a href="#"><i class="fa fa-phone"></i>+180088888888</a>
          </div>
          <!-- <div class="preheader-item">
              <div class="preheader-icons">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-behance"></i></a>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                  <a href="#"><i class="fa fa-vimeo"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
              </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <!-- PreHeader Area End -->

  <!-- Header Bottom Area Start -->
  <div class="header-bottom" id="fixheader">
    <div class="container">
      <div class="row">
        <!-- Logo Area Start -->
        <div class="col-lg-2">
          <a href="index.html" class="logo-area">
            <img src="https://i.imgur.com/GPKmsua.png" alt="Logo">
          </a>
        </div>
        <!-- Logo Area End -->

        <!-- Menu Area Start -->
        <div class="col-lg-7">
          <nav class="mainmenu pull-right">
            <!-- <ul>
                <li class="active"><a href="index_2.html">Home</a>
                    <ul class="sub">
                        <li><a href="index.html">Home 1</a></li>
                        <li><a href="index_2.html">Home 2</a></li>
                    </ul>
                </li>
                <li><a href="about.html">about</a></li>
                <li><a href="service.html">service</a>
                    <ul class="sub">
                        <li><a href="service.html">Service</a></li>
                        <li><a href="single-service.html">Single Service</a></li>
                    </ul>
                </li>
                <li><a href="#">Case study</a>
                    <ul class="sub">
                        <li><a href="case-study.html">Case study</a></li>
                        <li><a href="single-case.html">Single Case study</a></li>
                    </ul>
                </li>
                <li><a href="#">Blog</a>
                    <ul class="sub">
                        <li><a href="blog-with-sidebar.html">Blog With Sidebar</a></li>
                        <li><a href="blog-gird.html">Blog Column</a></li>
                        <li><a href="single-blog.html">Single Blog</a></li>
                    </ul>
                </li>
                <li><a href="#">pages</a>
                    <ul class="sub">
                        <li><a href="login.html">Login</a></li>
                        <li><a href="register.html">Register</a></li>
                        <li><a href="404.html">404 Error</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">contact</a></li>
            </ul> -->
          </nav>
        </div>
        <!-- Menu Area End -->

        <div class="col-lg-3 d-none d-lg-block">
          <div class="header-btn pull-right">
            <a href="register.html" class="seo-btn hvr-curl-bottom-right">Get Started Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header Bottom Area End -->
</header>
<!--== Header Area End ==-->

<%= yield %>
<!--== About Area End ==-->

<!--== FunFact Area Start (Home2) ==-->
<section id="funfact-area" class="home__2 overlay">
  <div class="container">
    <div class="row">
      <!-- Single FunFact Start -->
      <div class="col-lg-3 col-sm-6 text-center">
        <div class="single-funfact">
          <i class="fa fa-handshake-o fun-icon"></i>
          <h5><span class="countup">698</span>+</h5>
          <p>Project Done</p>
        </div>
      </div>
      <!-- Single FunFact End -->

      <!-- Single FunFact Start -->
      <div class="col-lg-3 col-sm-6 text-center">
        <div class="single-funfact">
          <i class="fa fa-smile-o fun-icon"></i>
          <h5><span class="countup">199</span>+</h5>
          <p>Happy Clients</p>
        </div>
      </div>
      <!-- Single FunFact End -->

      <!-- Single FunFact Start -->
      <div class="col-lg-3 col-sm-6 text-center">
        <div class="single-funfact">
          <i class="fa fa-trophy fun-icon"></i>
          <h5><span class="countup">99</span>+</h5>
          <p>Award Wins</p>
        </div>
      </div>
      <!-- Single FunFact End -->

      <!-- Single FunFact Start -->
      <div class="col-lg-3 col-sm-6 text-center">
        <div class="single-funfact">
          <i class="fa fa-coffee fun-icon"></i>
          <h5><span class="countup">1499</span>+</h5>
          <p>Cup Of Coffee</p>
        </div>
      </div>
      <!-- Single FunFact End -->
    </div>
  </div>
</section>
<!--== FunFact Area End ==-->

<!--== Service Area Start (Home2) ==-->
<section id="service-area" class="home__2 section-padding">
  <div class="container">
    <div class="row">
      <!-- Section Title Start -->
      <div class="col-lg-6 m-auto text-center">
        <div class="section-title">
          <h2><span>Our</span> Services</h2>
          <p>Lorem ipsum dolor sited amet, consectetur adipisicing elit, sede do eiusmod tempored incididunt uted is a vaey nice theme labore.</p>
        </div>
      </div>
      <!-- Section Title End -->
    </div>

    <div class="row">
      <!-- Single Service Start -->
      <div class="col-lg-4 col-sm-6">
        <div class="single-service">
          <div class="service-icon">
            <i class="fa fa-globe"></i>
          </div>
          <h4>Own Business</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
          <a href="single-service.html" class="load-more">Read more <i class="fa fa-angle-right"></i></a>
        </div>
      </div>
      <!-- Single Service End -->

      <!-- Single Service Start -->
      <div class="col-lg-4 col-sm-6">
        <div class="single-service">
          <div class="service-icon">
            <i class="fa fa-cubes"></i>
          </div>
          <h4>Marketing Plan</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
          <a href="single-service.html" class="load-more">Read more <i class="fa fa-angle-right"></i></a>
        </div>
      </div>
      <!-- Single Service End -->

      <!-- Single Service Start -->
      <div class="col-lg-4 col-sm-6">
        <div class="single-service">
          <div class="service-icon">
            <i class="fa fa-area-chart"></i>
          </div>
          <h4>Business Growth</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
          <a href="single-service.html" class="load-more">Read more <i class="fa fa-angle-right"></i></a>
        </div>
      </div>
      <!-- Single Service End -->

      <!-- Single Service Start -->
      <div class="col-lg-4 col-sm-6">
        <div class="single-service">
          <div class="service-icon">
            <i class="fa fa-bar-chart-o"></i>
          </div>
          <h4>Digital Marketing</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
          <a href="single-service.html" class="load-more">Read more <i class="fa fa-angle-right"></i></a>
        </div>
      </div>
      <!-- Single Service End -->

      <!-- Single Service Start -->
      <div class="col-lg-4 col-sm-6">
        <div class="single-service">
          <div class="service-icon">
            <i class="fa fa-link"></i>
          </div>
          <h4>Link Building</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
          <a href="single-service.html" class="load-more">Read more <i class="fa fa-angle-right"></i></a>
        </div>
      </div>
      <!-- Single Service End -->

      <!-- Single Service Start -->
      <div class="col-lg-4 col-sm-6">
        <div class="single-service">
          <div class="service-icon">
            <i class="fa fa-pie-chart"></i>
          </div>
          <h4>Web Analysis</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
          <a href="single-service.html" class="load-more">Read more <i class="fa fa-angle-right"></i></a>
        </div>
      </div>
      <!-- Single Service End -->
    </div>
  </div>
</section>
<!--== Service Area End ==-->



<!--== Newsletter Area Start (Home2) ==-->
<section class="newsletter-area home__2 overlay section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="newsletter-content">
          <h3>Join Our Mailing List</h3>
          <h2>For Get Free SEO Tips</h2>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="newsletter-form">
          <form>
            <input type="text" placeholder="Enter Your Email Address">
            <button class="seo-btn">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--== Newsletter Area End ==-->









<!--== Footer Area Start (Home2) ==-->
<footer id="footer-area" class="home__2 overlay">
  <div class="footer-widget section-padding">
    <div class="container">
      <div class="row">
        <!-- Single Widget Start -->
        <div class="col-lg-4 col-md-6">
          <div class="single-widget-wrap">
            <div class="widget-title">
              <h5>About Company</h5>
            </div>
            <div class="widget-body">
              <img src="https://i.imgur.com/GPKmsua.png" alt="Logo">
              <p>Lorem ipsum dolor sit amet, consectetur to act the adipisicing elit, sed do eiusmod tempor sos what incididunt ut labore et denim.the to in the adipisicing elit.</p>
              <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- Single Widget End -->

        <!-- Single Widget Start -->
        <div class="col-lg-5 col-md-6">
          <div class="single-widget-wrap">
            <div class="widget-title">
              <h5>Service's Provided</h5>
            </div>
            <div class="widget-body">
              <ul class="footer-list">
                <li><a href="#">Merchant Rate Audit</a></li>
                <li><a href="#">Merchant Rate Negotiation</a></li>
                <li><a href="#">Merchant Analysis</a></li>

              </ul>
            </div>
          </div>
        </div>
        <!-- Single Widget End -->

        <!-- Single Widget Start -->
        <div class="col-lg-3 col-md-6">
          <div class="single-widget-wrap">
            <div class="widget-title">
              <h5>Get Started By uploading your most recent Merchant Statement</h5>
            </div>
            <div class="widget-body">
              <div class="footer-form">
                <form action="index.html">
                  <input type="text" placeholder="Full Name">
                  <input type="email" placeholder="Email Address">
                  <input type="url" placeholder="Website URL">
                  <button type="button" name="button">Merchant Statement <i class="fa fa-upload"></i> </button>
                  <hr>
                  <button class="quote-btn"><i class="fa fa-send"></i> Next</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Single Widget End -->
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="copyright-text">
            <p>Copyright © 2018 BMS. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--== Footer Area End ==-->

<!--== Scroll Top Area Start ==-->
<div class="scroll-top home__2">
  <i class="fa fa-angle-double-up"></i>
</div>
<!--== Scroll Top Area End ==-->

</body>

</html>
